!! The default colors are "Gruvbox":
*.color0: #1d2021
*.color1: #cc241d
*.color2: #98971a
*.color3: #d79921
*.color4: #458588
*.color5: #b16286
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2
!! Transparency (0-255):
*.alpha: 210
!! Set a default font and font size as below:
! *.font: Monaco-14;

! Xcursor.theme: ArchCursorTheme
! ! also set with lxappearance and double check the following:
! ! /usr/share/icons/default/index.theme
! ! ~/.icons/default/index.theme
! ! ~/.config/gtk-3.0/settings.ini
! ! ~/.gtkrc-2.0

! URxvt.font: xft:Fantasque Sans Mono:size=15
! URxvt.iso14755: false
! URxvt.iso14755_52: false
! URxvt*scrollBar: false
! !clickable urls
! URxvt.perl-ext-common: default,matcher
! URxvt.url-launcher: /usr/bin/xdg-open
! URxvt.matcher.button: 1

! ! -----------------------------------------------------------------------------
! ! File: gruvbox-urxvt256.xresources
! ! Description: Retro groove colorscheme generalized
! ! Author: morhetz <morhetz@gmail.com>
! ! Source: https://github.com/morhetz/gruvbox-generalized
! ! Last Modified: 13 Dec 2013
! ! -----------------------------------------------------------------------------

! URxvt.color24:  #076678
! URxvt.color66:  #427b58
! URxvt.color88:  #9d0006
! URxvt.color96:  #8f3f71
! URxvt.color100: #79740e
! URxvt.color108: #8ec07c
! URxvt.color109: #83a598
! URxvt.color130: #af3a03
! URxvt.color136: #b57614
! URxvt.color142: #b8bb26
! URxvt.color167: #fb4934
! URxvt.color175: #d3869b
! URxvt.color208: #fe8019
! URxvt.color214: #fabd2f
! URxvt.color223: #ebdbb2
! URxvt.color228: #f2e5bc
! URxvt.color229: #fbf1c7
! URxvt.color230: #f9f5d7
! URxvt.color234: #1d2021
! URxvt.color235: #282828
! URxvt.color236: #32302f
! URxvt.color237: #3c3836
! URxvt.color239: #504945
! URxvt.color241: #665c54
! URxvt.color243: #7c6f64
! URxvt.color244: #928374
! URxvt.color245: #928374
! URxvt.color246: #a89984
! URxvt.color248: #bdae93
! URxvt.color250: #d5c4a1

! ! -----------------------------------------------------------------------------
! ! File: gruvbox-dark.xresources
! ! Description: Retro groove colorscheme generalized
! ! Author: morhetz <morhetz@gmail.com>
! ! Source: https://github.com/morhetz/gruvbox-generalized
! ! Last Modified: 6 Sep 2014
! ! -----------------------------------------------------------------------------

! ! hard contrast: *background: #1d2021
! *background: #282828
! ! soft contrast: *background: #32302f
! *foreground: #ebdbb2
! ! Black + DarkGrey
! *color0:  #282828
! *color8:  #928374
! ! DarkRed + Red
! *color1:  #cc241d
! *color9:  #fb4934
! ! DarkGreen + Green
! *color2:  #98971a
! *color10: #b8bb26
! ! DarkYellow + Yellow
! *color3:  #d79921
! *color11: #fabd2f
! ! DarkBlue + Blue
! *color4:  #458588
! *color12: #83a598
! ! DarkMagenta + Magenta
! *color5:  #b16286
! *color13: #d3869b
! ! DarkCyan + Cyan
! *color6:  #689d6a
! *color14: #8ec07c
! ! LightGrey + White
! *color7:  #a89984
! *color15: #ebdbb2


! solar
! #define S_base03        #002b36
! #define S_base02        #073642
! #define S_base01        #586e75
! #define S_base00        #657b83
! #define S_base0         #839496
! #define S_base1         #93a1a1
! #define S_base2         #eee8d5
! #define S_base3         #fdf6e3

! *background:            S_base03
! *foreground:            S_base0
! *fadeColor:             S_base03
! *cursorColor:           S_base1
! *pointerColorBackground:S_base01
! *pointerColorForeground:S_base1

! #define S_yellow        #b58900
! #define S_orange        #cb4b16
! #define S_red           #dc322f
! #define S_magenta       #d33682
! #define S_violet        #6c71c4
! #define S_blue          #268bd2
! #define S_cyan          #2aa198
! #define S_green         #859900

! !! black dark/light
! *color0:                S_base02
! *color8:                S_base03

! !! red dark/light
! *color1:                S_red
! *color9:                S_orange

! !! green dark/light
! *color2:                S_green
! *color10:               S_base01

! !! yellow dark/light
! *color3:                S_yellow
! *color11:               S_base00

! !! blue dark/light
! *color4:                S_blue
! *color12:               S_base0

! !! magenta dark/light
! *color5:                S_magenta
! *color13:               S_violet

! !! cyan dark/light
! *color6:                S_cyan
! *color14:               S_base1

! !! white dark/light
! *color7:                S_base2
! *color15:               S_base3
